spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  sql:
    init:
      mode: always
      data-locations: classpath:sql/data/*.sql
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        highlight_sql: true
        jdbc:
          time_zone: Asia/Seoul
        dialect: org.hibernate.dialect.MariaDBDialect
    defer-datasource-initialization: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

logging:
  level:
    root: INFO
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: INFO

errorping:
  apiKey: ${ERRORPING_API_KEY}
  startupShutdownNotification:
    enabled: ${ERRORPING_STARTUP_SHUTDOWN_NOTIFICATION}
    startup-message: "AssignX 서버가 실행되었습니다."
    shutdown-message: "AssignX 서버가 종료되었습니다."

server:
  port: ${SPRING_PORT}
